*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    /*background: #141217;
    color: #f5f4f6;*/
    background: var(--background);
    color: var(--text);

    
    --text: #f1f0ef;
    --background: #141217;
    --primary: #c1bdb0;
    --secondary: #5f5945;
    --accent: #a39978;
    
}
.face{
    max-width: 30%;
    height: auto;
    border-radius: 50%;
    user-select: none;
    -webkit-user-drag: none;
}

@media screen and (max-width: 700px){
    .navbar{
        display: none;
        visibility: hidden;
    }
}
.navbar {
    margin: 40px 40px 0;
    padding: 0;
    position: fixed;
    overflow: auto;
    height: 100%;
    width: 14%;
    justify-content: right;
    margin-left: 85%;
    /*background: transparent;*/
}
.navbar a{
    font-size: 1.2em;
    color: var(--secondary);
    text-decoration: none;
    transition: .3s;
    display: block;
    width: 100%;
    font-weight: bold;

    padding: 5px;
    margin-right: 3%;
    text-align: right;
    float: right;
}
.navbar svg{
    fill: var(--secondary);
}
.navbar .icons{
    padding: 10% 0 0 10%;
    display: inline-flex;
    width: auto;
}
.navbar a:hover, svg:hover,
.navbar a.active {
    transition: 0.3s;
    color: var(--accent);
    fill: var(--accent);
}

.home {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home h3{
    font-size: 1.8em;
}
.home h1{
    font-size: 4em;
}

.about {
    display: block;    
}
.about-content{
    display: flex;
    max-width: 85%;
    padding-top: 5%;
}
.about h1{
    font-size: 1.8em;
    text-align: center;
}
.about-pic{
    padding: 0 50px 0 100px;
    height: 600px;
    width: auto;
    margin: auto 0;
    border-radius: 5%;
    user-select: none;
    -webkit-user-drag: none;
}


.projects {
    display: inline-block;
    width: 10em;
    height: 10em;
    background-color: var(--secondary);
    border-radius: 3px;
    transition: .2s;
}
.projects:hover {
    transform: scale(1.5);
}
