.homePage {
  padding: 20px;
}
.homeIntro {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.techStack {
  display: grid;
  grid-template-columns: 142px 142px 142px 142px;
  gap: 10px;
  margin: 10px;
}
.techStack li {
  list-style-type: none;
  text-align: left;
}
.techStack li::before {
  content: "▹    "
}
.techStack li::before {
  content: "▹    ";
  color: white;
}

.socials {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  gap: 10px;
  margin: 10px;
}

@media (max-width: 680px) {
  .homePage {
    padding: 0px;
    padding-top: 50px;
    max-width: 100%;
  }
  .homeIntro {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    text-align: center;
    align-items: center;
  }
  .techStack {
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
    margin: 10px;
    place-items: center;
  }
  .techStack div {
    width: 250px !important;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .socials {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    gap: 10px;
    margin: 10px;
  }
}