*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212; 
  /* background: linear-gradient(to top right, black 0%, #3e1621) 100%; */
  color: white;
  height: 100vh;
}
.page {
  display: flex;
  justify-content: center;
}


.background {
  position: absolute;
  z-index: -1;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  color: white;
}

.location::before {
  content: "⚲    ";
  color: white;
}

.aboutText {
  width: 85%;
  padding: 0 7.5% 0 7.5%;
  color: var(--text);
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.techStack {
  display: grid;
  grid-template-columns: 142px 142px 142px 142px;
  gap: 10px;
  margin: 10px;
}
.techStack li {
  list-style-type: none;
  text-align: left;
}
.techStack li::before {
  content: "▹    "
}

::selection{
  background: #BBF7D0;
}

h1, p, li {
  color: white;
}

.techStack li::before {
  content: "▹    ";
  color: white;
}

.aboutText {
  color: white;
}

.card {
  background-color: rgba(25, 25, 25, 0.4);
  backdrop-filter: blur(10px);
  padding: 20px;
  border: 2px solid #121212;
  border-radius: 5px;
}

.exp-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
}
.exp-title h5{
  font-weight: 400;
}